* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;    
    
}
body {
    background-color: aliceblue;
}
h1 {
    color: blue;
    background-color:lightgoldenrodyellow;
    text-align: center;    
}


#search-button {
    border-radius: 2px;
    font-size: 15px;
    

}
#search-button:hover {
    background-color: yellow;
}
#five-day-forecast {
  display: flex;
  flex-direction: row;
  border: solid 1px black;

}